@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-light: theme("colors.blue.600");
  --blue-dark: theme("colors.blue.500");
  --orange-light: theme("colors.yellow.600");
  --orange-dark: theme("colors.yellow.500");
  --orange-faded: theme("colors.yellow.400");
}

.theme-orange-light {
  --bg-color: theme("colors.gray.100");
  --text-color: theme("colors.gray.900");
  --text-color-dark: theme("colors.gray.100");
  --accent-color: var(--orange-light);
  --accent-color-faded: var(--orange-faded);
}

.theme-orange-dark {
  --bg-color: theme("colors.gray.900");
  --text-color: theme("colors.gray.100");
  --text-color-dark: theme("colors.gray.900");
  --accent-color: var(--orange-dark);
}

.theme-blue-light {
  --bg-color: theme("colors.gray.100");
  --text-color: theme("colors.gray.900");
  --text-color-dark: theme("colors.gray.100");
  --accent-color: var(--blue-light);
}

.theme-blue-dark {
  --bg-color: theme("colors.gray.900");
  --text-color: theme("colors.gray.100");
  --text-color-dark: theme("colors.gray.900");
  --accent-color: var(--blue-dark);
}

#__next {
  @apply bg-primary text-primary;
  height: 100vh;
}

@layer utilities {
  .bg-growing-underline {
    background-size: 100% 0.2em;
    background-position: 0 105%;
    @apply bg-no-repeat transition-all duration-200;
  }
  .bg-growing-underline:hover {
    background-size: 100% 100%;
    @apply text-gray-900;
  }
  .bg-growing-underline:focus {
    background-size: 100% 100%;
    @apply text-gray-900;
  }
}
